streamlit==1.45.1
plotly
pymatgen==2025.6.14
ase==3.25.0
phonopy==2.40.0
py3Dmol==2.5.0


psutil
gputil

torch==2.8.0 # compatible with MACE, CHGNet, SevenNet, orb-models 
#torchvision==0.22.1
#torch==2.7.1
#torchaudio==2.7.1

cuequivariance==0.6.1
cuequivariance-torch==0.6.1
cuequivariance-ops-torch-cu12==0.6.1

mace-torch==0.3.14
chgnet==0.3.8
sevenn==0.10.4
#mattersim
orb-models==0.5.5
nequix==0.2.0

torch-dftd # for mace-mh d3 dispersion corrections

#For Orb models
pynanoflann @ git+https://github.com/dwastberg/pynanoflann.git@af434039ae14bedcbb838a7808924d6689274168
